# Step-01 Load Libraries

In [42]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV, KFold
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import root_mean_squared_error, r2_score

import warnings
warnings.filterwarnings('ignore')

# Step-02 Load Dataset

In [43]:
df_train = pd.read_csv('train.csv')
display(df_train.head())
print("Shape of Training Data: ", df_train.shape)

   id     Podcast_Name  ... Episode_Sentiment  Listening_Time_minutes
0   0  Mystery Matters  ...          Positive                31.41998
1   1    Joke Junction  ...          Negative                88.01241
2   2   Study Sessions  ...          Negative                44.92531
3   3   Digital Digest  ...          Positive                46.27824
4   4      Mind & Body  ...           Neutral                75.61031

[5 rows x 12 columns]

Shape of Training Data:  (750000, 12)

In [44]:
df_test = pd.read_csv('test.csv')
display(df_test.head())
print("Shape of Testing Data:", df_test.shape)

       id         Podcast_Name  ... Number_of_Ads  Episode_Sentiment
0  750000  Educational Nuggets  ...           1.0            Neutral
1  750001          Sound Waves  ...           0.0            Neutral
2  750002        Joke Junction  ...           0.0           Positive
3  750003        Comedy Corner  ...           2.0           Positive
4  750004         Life Lessons  ...           2.0            Neutral

[5 rows x 11 columns]

Shape of Testing Data: (250000, 11)

# Step-03 Data Preprocesssing

* **Let's check information about data**

In [45]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           750000 non-null  int64
 1   Podcast_Name                 750000 non-null  object
 2   Episode_Title                750000 non-null  object
 3   Episode_Length_minutes       662907 non-null  float64
 4   Genre                        750000 non-null  object
 5   Host_Popularity_percentage   750000 non-null  float64
 6   Publication_Day              750000 non-null  object
 7   Publication_Time             750000 non-null  object
 8   Guest_Popularity_percentage  603970 non-null  float64
 9   Number_of_Ads                749999 non-null  float64
 10  Episode_Sentiment            750000 non-null  object
 11  Listening_Time_minutes       750000 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 68.7+ MB

In [46]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           250000 non-null  int64
 1   Podcast_Name                 250000 non-null  object
 2   Episode_Title                250000 non-null  object
 3   Episode_Length_minutes       221264 non-null  float64
 4   Genre                        250000 non-null  object
 5   Host_Popularity_percentage   250000 non-null  float64
 6   Publication_Day              250000 non-null  object
 7   Publication_Time             250000 non-null  object
 8   Guest_Popularity_percentage  201168 non-null  float64
 9   Number_of_Ads                250000 non-null  float64
 10  Episode_Sentiment            250000 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 21.0+ MB

* **Let's check null values in percentage**

In [47]:
df_train.isnull().sum()/len(df_train)*100

id                              0.000000
Podcast_Name                    0.000000
Episode_Title                   0.000000
Episode_Length_minutes         11.612400
Genre                           0.000000
Host_Popularity_percentage      0.000000
Publication_Day                 0.000000
Publication_Time                0.000000
Guest_Popularity_percentage    19.470667
Number_of_Ads                   0.000133
Episode_Sentiment               0.000000
Listening_Time_minutes          0.000000
dtype: float64

In [48]:
df_test.isnull().sum()/len(df_test)*100

id                              0.0000
Podcast_Name                    0.0000
Episode_Title                   0.0000
Episode_Length_minutes         11.4944
Genre                           0.0000
Host_Popularity_percentage      0.0000
Publication_Day                 0.0000
Publication_Time                0.0000
Guest_Popularity_percentage    19.5328
Number_of_Ads                   0.0000
Episode_Sentiment               0.0000
dtype: float64

* **Let's impute NULL values**

In [59]:
df_train['Episode_Length_minutes'].fillna(df_train['Episode_Length_minutes'].mean(),inplace=True)
df_train['Guest_Popularity_percentage'].fillna(df_train['Guest_Popularity_percentage'].mean(),inplace=True)
df_train['Number_of_Ads'].fillna(df_train['Number_of_Ads'].mode()[0],inplace = True)

In [57]:
df_test['Episode_Length_minutes'].fillna(df_test['Episode_Length_minutes'].mean(),inplace=True)
df_test['Guest_Popularity_percentage'].fillna(df_test['Guest_Popularity_percentage'].mean(),inplace=True)

In [60]:
df_train.isnull().sum()

id                             0
Podcast_Name                   0
Episode_Title                  0
Episode_Length_minutes         0
Genre                          0
Host_Popularity_percentage     0
Publication_Day                0
Publication_Time               0
Guest_Popularity_percentage    0
Number_of_Ads                  0
Episode_Sentiment              0
Listening_Time_minutes         0
dtype: int64

In [61]:
df_test.isnull().sum()

id                             0
Podcast_Name                   0
Episode_Title                  0
Episode_Length_minutes         0
Genre                          0
Host_Popularity_percentage     0
Publication_Day                0
Publication_Time               0
Guest_Popularity_percentage    0
Number_of_Ads                  0
Episode_Sentiment              0
dtype: int64

* **Let's Check value counts**

In [23]:
display(df_train['Podcast_Name'].value_counts())

df_train.groupby('Podcast_Name').size().reset_index(name='counts').sort_values(by='counts', ascending=False).head(10)

Podcast_Name
Tech Talks             22847
Sports Weekly          20053
Funny Folks            19635
Tech Trends            19549
Fitness First          19488
Business Insights      19480
Style Guide            19364
Game Day               19272
Melody Mix             18889
Criminal Minds         17735
Finance Focus          17628
Detective Diaries      17452
Crime Chronicles       17374
Athlete's Arena        17327
Fashion Forward        17280
Tune Time              17254
Business Briefs        17012
Lifestyle Lounge       16661
True Crime Stories     16373
Sports Central         16191
Digital Digest         16171
Humor Hub              16144
Mystery Matters        16002
Comedy Corner          15927
Joke Junction          15074
Wellness Wave          15009
Sport Spot             14778
Gadget Geek            14770
Home & Living          14686
Laugh Line             14673
Life Lessons           14464
World Watch            14043
Sound Waves            13928
Global News            13649
Mind & Body            13639
Daily Digest           13391
Money Matters          13380
Current Affairs        13138
Market Masters         13092
Study Sessions         13053
Innovators             12913
Music Matters          12652
Learning Lab           12291
Educational Nuggets    12245
Healthy Living         12198
Brain Boost            11543
Health Hour            11114
News Roundup            9169
Name: count, dtype: int64

         Podcast_Name  counts
42         Tech Talks   22847
39      Sports Weekly   20053
15        Funny Folks   19635
43        Tech Trends   19549
14      Fitness First   19488
3   Business Insights   19480
41        Style Guide   19364
17           Game Day   19272
30         Melody Mix   18889
6      Criminal Minds   17735

In [28]:
df_train.groupby(['Genre','Podcast_Name']).size()

Genre       Podcast_Name
Business    Athlete's Arena           4
            Business Briefs       17004
            Business Insights     19471
            Crime Chronicles          1
            Criminal Minds            4
                                  ...
True Crime  Tech Trends               4
            True Crime Stories    16361
            Tune Time                 4
            Wellness Wave            15
            World Watch              10
Length: 407, dtype: int64

## Step-03 (a) Data Encoding

✅ Which features need encoding or scaling?

✅ Which columns might have outliers?

✅ Which graphs to plot for EDA?

| Column             | Why Encode?                                           |
|--------------------|-------------------------------------------------------|
| Podcast_Name       | Categorical (48 unique podcasts)                      |
| Episode_Title      | Likely unnecessary — 100 unique values (can drop)     |
| Genre              | Categorical (10 types like Comedy, Health, etc.)      |
| Publication_Day    | Day names like Monday–Sunday (7 total)                |
| Publication_Time   | Categories like Morning, Evening (4 total)            |
| Episode_Sentiment  | Text labels like Positive, Negative (3 total)         |

**Let's Drop Podcast_Name**

- It’s just an identifier for the show, not related to the target.
- It has too many unique values (48 unique names = high cardinality).
- It’s not interpretable or adds noise to the model.
- One-hot encoding would create 48 columns, which may overfit or slow down training.

In [62]:
df_train.drop(['Episode_Title'], axis = 1, inplace = True)
df_test.drop(['Episode_Title'], axis = 1 , inplace = True)

df_train =df_train.drop(['Podcast_Name'],axis=1)
df_test = df_test.drop(['Podcast_Name'], axis=1)

In [63]:
df_test.columns

Index(['id', 'Episode_Length_minutes', 'Genre', 'Host_Popularity_percentage',
       'Publication_Day', 'Publication_Time', 'Guest_Popularity_percentage',
       'Number_of_Ads', 'Episode_Sentiment'],
      dtype='object')

In [64]:
df_train.head()

   id  Episode_Length_minutes  ... Episode_Sentiment  Listening_Time_minutes
0   0               64.504738  ...          Positive                31.41998
1   1              119.800000  ...          Negative                88.01241
2   2               73.900000  ...          Negative                44.92531
3   3               67.170000  ...          Positive                46.27824
4   4              110.510000  ...           Neutral                75.61031

[5 rows x 10 columns]

* **Let's do One Hot Encoding**

In [65]:
df_train['Genre'].value_counts().unique()

array([87606, 86256, 85059, 82461, 81453, 80521, 71416, 63385, 62743,
       49100], dtype=int64)

In [66]:
df_train = pd.get_dummies(df_train,columns=['Genre','Publication_Day','Publication_Time','Episode_Sentiment'])
df_test = pd.get_dummies(df_test, columns=['Genre','Publication_Day','Publication_Time','Episode_Sentiment'])

In [67]:
df_train.head()

   id  ...  Episode_Sentiment_Positive
0   0  ...                        True
1   1  ...                       False
2   2  ...                       False
3   3  ...                        True
4   4  ...                       False

[5 rows x 30 columns]

In [38]:
df_test.head()

       id  ... Episode_Sentiment_Positive
0  750000  ...                      False
1  750001  ...                      False
2  750002  ...                       True
3  750003  ...                       True
4  750004  ...                      False

[5 rows x 30 columns]

In [68]:
df_train.head()

   id  ...  Episode_Sentiment_Positive
0   0  ...                        True
1   1  ...                       False
2   2  ...                       False
3   3  ...                        True
4   4  ...                       False

[5 rows x 30 columns]

In [70]:
df_test.head()

       id  ...  Episode_Sentiment_Positive
0  750000  ...                       False
1  750001  ...                       False
2  750002  ...                        True
3  750003  ...                        True
4  750004  ...                       False

[5 rows x 29 columns]

## Step-03 (b) Data Scaling

* I will do this step later

## Step-03 (c) Check Outliers

## Step-03 (d) Graphs to plot for EDA

# Step-04 Model Selection

# Step-05 Model Prediction

# Step-06 Load and Save Model

# Step-07 Create Dataframe with predictet values

# Step-08 Create CSV files for submission